sweden {
    position: absolute;
    width: 140px;
    height: 54px;
    left: 46px;
    top: 23px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 54px;
    /* identical to box height */


    color: #000000;
}

.container-fluid {
    padding: 0 !important;
}

parallax-bg-1 {
    background: rgba(33, 158, 188, 0.04);
    background-size: cover;
    margin-bottom: 184px;
}
