<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - TravelSweden</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/TravelSweden.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/style.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid container">
                <a class="navbar-brand font-weight-bold" asp-area="" asp-controller="Home" asp-action="Index"><img src="/img/icon.png" alt="icon" width="150" style="vertical-align:middle;margin:10px 0px; margin-left: 10px;"/></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="CariTiket"><span><i class="fa-solid fa-plane" style="color:#219EBC; margin-right: 10px;"></i></span>Tiket Pesawat</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy"><span><i class="fa-solid fa-bed" style="color:#219EBC; margin: 0px 10px;"></i></span>Hotel</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy"><span><i class="fa-solid fa-train" style="color:#219EBC; margin: 0px 10px;"></i></span>Tiket Kereta</a>
                        </li>
                    </ul>
                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            <div class="d-flex flex-row">
                <div class="d-sm-inline-flex flex-column p-2" style="line-height:30px">
                    <h2 style="font-weight:bold">TravelSweden</h2>
                    <div class="d-sm-inline-flex flex-row p-0.5">
                        <p class="" style="font-size:16px;"><span><i class="fa-solid fa-phone" style="color:#219EBC; margin: 0px 10px;"></i></span>(021) 77777777</p>               
                    </div>
                    <div class="d-sm-inline-flex flex-row p-0.5">
                        <p class="" style="font-size:16px;"><span><i class="fa-solid fa-envelopes-bulk" style="color:#219EBC; margin: 0px 10px;"></i></span>cs@travely.com</p>               
                    </div>
                    <div class="d-sm-inline-flex flex-row p-0.5">
                        <p class="" style="font-size:16px;"><span><i class="fa-solid fa-map-location-dot" style="color:#219EBC; margin: 0px 10px;"></i></span>Jl. Mawar Indah 123, Jakarta Selatan</p>               
                    </div>
                </div>

                <div class="d-sm-inline-flex flex-row p-0.5" style="padding:2px 40px;">
                    <div class="d-flex flex-column" style="">
                        <p style="font-size:20px;">Unduh TravelSweden melalui</p>
                        <img src="/img/download.png" width="150"/>
                    </div>               
                </div>
            </div>
        </div>
        <div class="container-fluid" style="background-color: #126782; color:white; text-align:center;">
            TravelSweden © 2022 Travel World Net GmbH. All Rights Reserved
        </div>
    </footer>
    <script src="https://kit.fontawesome.com/14ade5e274.js" crossorigin="anonymous"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
