@model IEnumerable<TravelSweden.Models.AvailableTicket>

@{
    ViewData["Title"] = "Index";
}

<div class="container">
    <div class="d-sm-inline-flex flex-row" style="background: #FFFFFF; box-shadow: 0px 4px 20px 1px rgba(0, 0, 0, 0.25); border-radius: 5px; width:100%">
        <p class="" style="font-size:16px;"><span><i class="fa-solid fa-plane-departure fa-2xl" style="color:#219EBC; margin: 50px 30px;"></i></span</p>
        <div class="flex flex-col" style="margin-top:20px;">
            <h5>Pilih Penerbangan Pergi</h5>
            <div class="d-flex flex-row">
                <p style="margin-right:10px">Jakarta (JKTC) -> Surabaya (SUBC)</p>
                <p style="margin-right:10px">•</p>
                <p style="margin-right:10px">Selasa, 5 April</p>
                <p style="margin-right:10px">•</p>
                <p style="margin-right:10px">1 Penumpang </p>
                <p style="margin-right:10px">•</p>
                <p style="margin-right:10px">Ekonomi</p>
            </div>
        </div>
        <button type="button" class="btn btn-warning" style="border-radius: 30px; width:200px; height:50px; color: #126782;font-weight: 600;font-size: 15px;line-height: 30px; margin-top:25px;margin-left:350px">Ubah Kriteria</button>
    </div>

    <h4 style="font-size:20px; padding:1rem 0">Yuk cek penerbangan terbaik di bawah!</h4>
    @foreach (var item in Model) {
    <div style="height:160px;width:100%; margin-bottom: 1rem; background: #FFFFFF; box-shadow: 0px 4px 20px 1px rgba(0, 0, 0, 0.25); border-radius: 5px;">
        <div class="flex flex-col">
            <div style="font-style: normal;font-weight: 500; font-size:16px; padding:20px">@Html.DisplayFor(modelItem => item.AttachedFlight.Airline)</div>
            <div class="row">
                <div class="col-lg-1">
                <span><i class="fa-solid fa-k fa-2xl" style="color:#219EBC;margin-left:30px"></i></span>
                </div>
                <div class="col-lg-7">
                    <h4 style="margin-left:60px; font-size:20px; margin-top:-15px">@Html.DisplayFor(modelItem => item.AttachedFlight.DepartureTime) - @Html.DisplayFor(modelItem => item.AttachedFlight.ArrivalTime)</h4>
                         <p style="margin-left:60px; font-size:15px">Langsung</p>
                         <div class="d-flex flex-row" style="margin-left:60px; margin-top:-10px">
                            <a style="margin-right:10px; color:#126782">Informasi</a>
                            <a style="margin-right:10px;color:#126782">•</a>
                            <a style="margin-right:10px;color:#126782">Kebijakan</a>
                            <a style="margin-right:10px;color:#126782">•</a>
                            <a style="margin-right:10px;color:#126782">Detail Harga</a>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <h4 style="font-weight: 500;font-size: 24px;line-height: 36px;color: #FFB703;text-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25); ">IDR @Html.DisplayFor(modelItem => item.Price),-/orang</h4>
                        <button type="button" class="btn btn-warning" style="border-radius: 30px; width:100px; height:40px; color: #126782;font-weight: 600;font-size: 15px;line-height: 30px;">Pilih</button>
                    </div>
            </div>
        </div>
    </div>
    }
</div>
