@{
    ViewData["Title"] = "Bookings";
}   

<div class="container" style="height:100px;background: #FFFFFF; box-shadow: 0px 5px 10px 1px rgba(18, 103, 130, 0.3); border-radius: 5px;">
    <div class="d-sm-inline-flex flex-row p-0.5">
        <p class="" style="font-size:16px;"><span><i class="fa-solid fa-plane-departure fa-2xl" style="color:#219EBC; margin: 50px 30px;"></i></span</p>
        <div class="flex flex-col" style="margin-top:20px;">
            <h5>Keris Air 04:30 - 06:30</h5>
            <div class="d-flex flex-row">
                <p style="margin-right:10px">Jakarta (JKTC) -> Surabaya (SUBC)</p>
                <p style="margin-right:10px">•</p>
                <p style="margin-right:10px">Selasa, 5 April</p>
                <p style="margin-right:10px">•</p>
                <p style="margin-right:10px">1 Penumpang </p>
                <p style="margin-right:10px">•</p>
                <p style="margin-right:10px">Ekonomi</p>
            </div>
        </div>
    </div>
</div>

    <div class="container" style="height:700px;width:90%;margin-top:40px;margin-bottom:300px;background: #FFFFFF; box-shadow: 0px 4px 20px 1px rgba(0, 0, 0, 0.25); border-radius: 5px;">
        <div class="flex flex-col">
            <div style="font-style: normal;font-weight: bold; font-size:30px; padding:40px">Lengkapi informasimu dulu yuk!</div>
            <div class="d-flex flex-row">
                <div class="flex flex col">
                    <div style="font-style: normal;font-weight: bold; font-size:18px; padding:40px">Informasi Pemesan</div>
                    <form>
                      <div class="form-group">
                        <label for="exampleInputEmail1" style="font-style: normal;font-weight: bold; font-size:18px; margin-left:40px;margin-top:10px; color: #999A9B;">Nama</label>
                        <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" style="margin-left:40px;width:380px">
                      </div>
                      <div class="form-group">
                        <label for="exampleInputNIK1" style="font-style: normal;font-weight: bold; font-size:18px; margin-left:40px;margin-top:30px;color: #999A9B;">NIK</label>
                        <input type="number" class="form-control" id="exampleInputPassword1" style="margin-left:40px; width:380px">
                      </div>
                      <div class="form-group">
                        <label for="exampleInputAlamat1" style="font-style: normal;font-weight: bold; font-size:18px; margin-left:40px;margin-top:30px;color: #999A9B;">Alamat</label>
                        <input type="text" class="form-control" id="exampleInputPassword1" style="margin-left:40px; width:380px">
                      </div>
                    </form>
                </div>

                <div class="flex flex col" style="margin-left:40px">
                    <div class="d-flex flex-row">
                        <div style="font-style: normal;font-weight: bold; font-size:18px; padding:40px">Informasi Penumpang</div>
                        <div class="form-check" style="margin-top:42px">
                            <input type="checkbox" aria-label="Checkbox for following text input">
                            <label class="form-check-label" for="exampleRadios2">
                            Sama dengan Pemesan
                            </label>
                        </div>
                    </div>
                    <form>
                      <div class="form-group">
                        <label for="exampleInputEmail1" style="font-style: normal;font-weight: bold; font-size:18px; margin-left:40px;margin-top:10px; color: #999A9B;">Nama</label>
                        <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" style="margin-left:40px;width:380px">
                      </div>
                      <div class="form-group">
                        <label for="exampleInputNIK1" style="font-style: normal;font-weight: bold; font-size:18px; margin-left:40px;margin-top:30px;color: #999A9B;">NIK</label>
                        <input type="number" class="form-control" id="exampleInputPassword1" style="margin-left:40px; width:380px">
                      </div>
                      <div class="form-group">
                        <label for="exampleInputAlamat1" style="font-style: normal;font-weight: bold; font-size:18px; margin-left:40px;margin-top:30px;color: #999A9B;">Alamat</label>
                        <input type="text" class="form-control" id="exampleInputPassword1" style="margin-left:40px; width:380px">
                      </div>
                    </form>
                    <div class="d-flex flex-row" style="margin-top:70px">
                        <button type="button" class="btn btn-info" style="border-radius: 30px; width:200px; height:50px; color: #ffff;font-weight: 600;font-size: 15px;line-height: 30px; margin-top:25px; margin-left:40px">Kembali</button>
                        <button type="button" class="btn btn-warning" style="border-radius: 30px; width:200px; height:50px; color: #126782;font-weight: 600;font-size: 15px;line-height: 30px; margin-top:25px; margin-left:40px">Lanjutkan</button>
                    </div>
                </div>
            </div>
        </div>
    </div>


