@{
    ViewData["Title"] = "Home Page";
}

<section class="container">
    <div class="row justify-content-around">
        <div class="col-lg-4" style="background-color:#FFB703; height:160px; width: 30%; max-width: 300px; border-radius:15px"></div>
        <div class="col-lg-4" style="background-color:#FFB703; height:160px; width: 30%; max-width: 300px; border-radius:15px"></div>
        <div class="col-lg-4" style="background-color:#FFB703; height:160px; width: 30%; max-width: 300px; border-radius:15px"></div>
    </div>
</section>


<section class="container" style="height:250px;margin-top:30px;background: #FFFFFF; box-shadow: 0px 4px 20px 1px rgba(0, 0, 0, 0.25); border-radius: 5px;">
    <h1 style="font-style: normal;font-weight: 500; font-size:26px; padding:10px">Mau ke mana nih?</h1>
    <div class="row">
        <div class="col-lg-2 align-content-lg-start">
            <div class="form-check" style="margin-left:10px; margin-top:10px">
              <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1" checked>
              <label class="form-check-label" for="exampleRadios1">
                Sekali Jalan
              </label>
            </div>
        </div>
        <div class="col-lg-2 align-content-lg-start">
            <div class="form-check" style="margin-left:40px; margin-top:10px">
              <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="option2">
              <label class="form-check-label" for="exampleRadios2">
                Pulang-Pergi
              </label>
            </div>
        </div>
        <div class="col-lg-1 align-content-end">
            <span><i style="color:#219EBC; margin-right: 10px;" class="fa-solid fa-person"></i></span>
        </div>
        <div class="col-lg-7 align-content-end">
            <select class="form-select" style="border: none" aria-label="passenger">
              <option value="1">1 Penumpang</option>
              <option value="2">2 Penumpang</option>
              <option value="3">3 Penumpang</option>
            </select>
        </div>
    </div>  
        <hr style="width:100%;text-align:left;margin-left:0">
        <div class="d-flex flex-row">
            <div class="flex flex-col" style="margin-left:10px">
                <p style="color: #999A9B;">Dari</p>
                <div class="d-flex flex-row">
                    <p style="margin-left:10px; color: #999A9B;"><span><i style="color:#219EBC; margin-right: 10px;" class="fa-solid fa-plane-departure"></i></span>Kota/Bandara</p>
                </div>
            </div>
            <div class="flex flex-col" style="margin-left:40px">
                <p style="color: #999A9B;">Ke</p>
                <div class="d-flex flex-row">
                    <p style="margin-left:10px; color: #999A9B;"><span><i style="color:#219EBC; margin-right: 10px;" class="fa-solid fa-plane-arrival"></i></span>Tujuan</p>
                </div>
            </div>
            <div class="flex flex-col" style="margin-left:60px">
                <p style="color: #999A9B;">Berangkat</p>
                <div class="d-flex flex-row">
                    <p style="margin-left:10px;"><span><i style="color:#219EBC; margin-right: 10px;" class="fa-solid fa-calendar"></i></span>Jum, 8 April 2022</p>
                </div>
            </div>
            <div class="flex flex-col" style="margin-left:40px">
                <p style="color: #999A9B;">Pulang</p>
                <div class="d-flex flex-row">
                    <p style="margin-left:10px; color: #999A9B;"><span><i style="color:#219EBC; margin-right: 10px;" class="fa-solid fa-calendar"></i></span>Sab, 9 April 2022</p>
                </div>
            </div>
            <div class="flex flex-col" style="margin-left:470px; margin-top: 25px">
                <button type="button" class="btn btn-warning" style="border-radius: 30px; width:100px; color: #126782;font-weight: 600;font-size: 20px;line-height: 30px;">Cari</button>
            </div>
        </div>
</section>


<div class="text-center" style="margin-top:100px; padding-bottom:300px;">
    <h1 class="display-6" style="font-size:30px">Liburan nyaman bersama TravelSweden</h1>
    <div class="d-flex flex-column" style="margin-left : 320px; margin-top:60px">
        <div class="d-flex flex-row">
            <div style="font-size:15px;font-weight:semi-bold;margin-top:2px"><img src="img/bulet.png" width="40px" style="margin-right:2px"/> Tiket kemana saja</div>
            <div style="font-size:15px;font-weight:semi-bold;margin-top:2px"><img src="img/bulet.png" width="40px" style="margin-left:300px"/> TravelSweden Rewards</div>  
        </div>
        <div class="d-flex flex-row">
            <div style="font-size:15px;font-weight:semi-bold;margin-top:40px"><img src="img/bulet.png" width="40px" style="margin-right:2px"/> Garansi uang kembali</div>
            <div style="font-size:15px;font-weight:semi-bold;margin-top:40px"><img src="img/bulet.png" width="40px" style="margin-left:275px"/> Pelayanan maksimal</div>
        </div>
    </div>    
</div>
