@{
    ViewData["Title"] = "Login";
}   
    <div class="container" style="height:550px;width:40%;margin-top:40px;margin-bottom:300px;background: #FFFFFF; box-shadow: 0px 4px 20px 1px rgba(0, 0, 0, 0.25); border-radius: 5px;">
        <div class="d-flex flex-column">
            <h3 class="mx-auto" style="margin-top:40px; font-weight: bold">Login/Daftar</h3>
            <p class="mx-auto" style="margin-top:10px;font-size:16px">Yuk buat akun agar perjalananmu nyaman</p>
            <div class="form-group">
                <input type="text" class="form-control mx-auto" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Nomor ponsel atau Email" style="width:300px">
            </div>
            <button type="button" class="btn btn-warning mx-auto" style="border-radius: 30px; width:320px; height:40px; color: #126782;font-weight: 600;font-size: 15px;line-height: 30px; margin-top:20px">Cek Tiketmu</button>
            <div class="d-flex flex-row mx-auto" style="margin-top:10px">
                <hr style="width:40px" />
                <p style="font-size: 15px;line-height: 22px;color: #999A9B;margin-left:20px;margin-top:5px">atau</p>
                <hr style="width:40px;margin-left:20px" />
            </div>
            <div class="container" style="width:65%; height:40px; background: #FFFFFF;border: 0.5px solid #126782;box-sizing: border-box;border-radius: 30px;">
                <div class="d-flex flex-row">
                    <span><i class="fa-brands fa-google fa-lg" style="color:#219EBC; margin-top:10px; margin-left:45px;margin-top:17px;"></i></span>
                    <h4 style="font-weight: 600;font-size: 16px;line-height: 30px;color: #000000;margin-left:20px;margin-top:2px">Masuk dengan Google</h4>
                </div>
            </div>
            <div class="container" style="width:65%; height:40px; background: #FFFFFF;border: 0.5px solid #126782;box-sizing: border-box;border-radius: 30px;margin-top:20px">
                <div class="d-flex flex-row">
                    <span><i class="fa-brands fa-apple fa-xl" style="color:#219EBC; margin-top:10px; margin-left:45px;margin-top:15px"></i></span>
                    <h4 style="font-weight: 600;font-size: 16px;line-height: 30px;color: #000000;margin-left:20px;margin-top:2px">Masuk dengan AppleID</h4>
                </div>
            </div>
            <div class="container" style="width:65%; height:40px; background: #FFFFFF;border: 0.5px solid #126782;box-sizing: border-box;border-radius: 30px;margin-top:20px">
                <div class="d-flex flex-row">
                    <span><i class="fa-brands fa-facebook fa-lg" style="color:#219EBC; margin-top:10px; margin-left:45px;margin-top:16px"></i></span>
                    <h4 style="font-weight: 600;font-size: 16px;line-height: 30px;color: #000000;margin-left:20px;margin-top:2px">Masuk dengan Google</h4>
                </div>
            </div>
    </div>


